Source: detiste
Section: misc
Priority: optional
Maintainer: Alexandre Detiste <alexandre.detiste@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: detiste
Depends:
 systemd-cron,
 python3,
 bc,
 libnotify-bin,
 unattended-upgrades,
 sqlite3,
 ${misc:Depends},
Architecture: all
Multi-Arch: foreign
Description: Shared settings between all home computers
 Automatic configuration of:
  * local repositories
  * apt-cacher-ng proxy
  * unattended-upgrades
  * standard cron-jobs

Package: wagner
Depends:
 detiste,
 ${misc:Depends},
Architecture: all
Multi-Arch: foreign
Description: extra settings only applicable for the 'wagner' host
  * automaticaly purge all non needed packages
  * automatic shutdown at 21h00
  * Google Chrome policy that disables incognito mode
  * replication of mp3 & their covers
