Source: detiste
Section: misc
Priority: optional
Maintainer: Alexandre Detiste <alexandre.detiste@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7

Package: detiste
Depends:
 systemd-cron,
 python3,
 libnotify-bin,
 unattended-upgrades,
 ${misc:Depends},
Suggests:
# only on host 'wagner'
 sqlite3
Architecture: all
Multi-Arch: foreign
Description: Shared settings between all home computers
 Automatic configuration of:
  * local repositories
  * apt-cacher-ng proxy
  * unattended-upgrades
  * standard cron-jobs
